body{
	max-width:900px;
	margin:0 auto;
        background: #fff;
}
label{
    font-weight: bold;
    
    margin: 5px; 
    
    
    float:center;
    clear:center;
}
h2{
	text-align:center;
}
input[type=text], input[type=password]{
    float:center;
    clear:center;
    width: 100%;
    height:40px;
}

textarea{
	width: 100%;
}

input[type=select]{
    height:55px;
}

select{
	width:100%;
}
textarea{
	resize: none;
	width:100%;
}
form{
	padding:3px;
	width:100%;
}
.msg{ 
        width: 100%; 
        height: 120px; 
        resize: none
}

.mensagem{
	color:red;
}
.destaque{
	background-color:#5F9EA0;
}

#tblListar thead{
	border: 1px solid #BEBEBE;
       
}



.promocao {
  visibility: hidden;
  position: absolute;
  margin-left: -9999px;
}

.promocao + label {
  
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.promocao + label {
    float: right;
    clear:right;
  padding: 2px;
  width: 50px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}
.promocao + label:before,
.promocao + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
.promocao + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
.promocao + label:after {
  width: 30px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}
.promocao:checked + label:before {
  background-color: #8ce196;
}
.promocao:checked + label:after {
  transform: translateX(22px);
}

/* Estilo Flat */
.promocao--flat + label {
  padding: 2px;
  width: 50px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
  transition: background 0.4s;
}
.promocao--flat + label:before,
.promocao--flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
.promocao--flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}
.promocao--flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 56px;
  background-color: #dddddd;
  border-radius: 52px;
  transition: margin 0.4s, background 0.4s;
}
.promocao--flat:checked + label {
  background-color: #8ce196;
}
.promocao--flat:checked + label:after {
  
  background-color: #8ce196;
}